@import '@fontsource/inspiration/400.css';
@import '@fontsource/roboto/400.css';

/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

html {
    height: -webkit-fill-available;
}

html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    position: relative;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    max-height: 100vh;
    max-height: -webkit-fill-available;
    color: white;
    text-shadow: 1px 1px 0 black;
    font-size: 18px
}

h1, h2, h3 {
    font-family: "Inspiration", serif;
    font-size: 8rem;
    letter-spacing: -.05rem;
    line-height: 1;
}

#__next {
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    max-height: -webkit-fill-available;
    text-align: center;
    scroll-snap-type: y mandatory;
    scroll-padding: 10px;
    overflow-y: scroll;

    > .view {
        scroll-snap-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex: 1;
        overflow: hidden;
        position: relative;

        &:before {
            background: rgba(0,0,0,.33);
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}

.max-width-460 {
    max-width: 460px;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.main-text-wrapper {
    mix-blend-mode: overlay;
    color: #fff;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 24px;

    > h1 {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        padding-bottom: 8px;
        padding-top: 12px;
    }

    > h2 {
        font-family: "Roboto", serif;
        padding-bottom: 12px;
        font-size: 16px;
    }
}

.view:not(:first-of-type) {
    .main-text-wrapper {
        h1 {
            border: none;
            font-size: 4rem;
        }
    }
}

.inline-flex-space {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 48px;

    > * {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;

        > svg {
            margin: 0 auto 12px;
        }
    }

    > p {
        font-size: 12px;
    }
}
